/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  body > * {
    margin-left: 20px;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
    height: 400px;
    float: left;
    margin-left: 20px;
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  